.drag_list {
    padding: 5px;
    cursor: pointer;
    padding-left: 25px;
}
.drag_list:hover {
    background-color: slategray;
    background-image: url("../../../../../img/menu.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: 5px;
}

.drag_list_visible {
    padding: 5px;
    cursor: pointer;
    padding-left: 25px;
}
.drag_list_visible:hover {
    background-color: slategray;
}

.drag_list_block {
    color: #6f7375;
    padding: 5px;
    cursor: pointer;
    padding-left: 25px;
    background: url("../../../../../img/lock.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: 5px;
}
